@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

html {
    font-size: 14px;
}

.content {
    width: 62.5%;
    margin: 0 auto;
    align-self: center;
    align-items: center;
    display: grid;
}

.content p{
    font-size: 18px;
}

.navbar {
    display: flex;
    position: fixed;
    align-items: center;
    align-self: center;
    justify-content: space-between;
    height: 6rem;
    width: 100%;
    color: white;
    background-color: #272727;
    z-index: 2;
}

.menu_items {
    display: inline-flex;
    list-style: none;
    justify-content: space-between;
    max-width: 62.5%;
}

.menu_item {
    display: block;
    font-size: 20px;
    margin: 2em;
    padding: 1rem 1rem;
    border-radius: 1em;
}

.menu_item a {
    text-decoration: none;
    padding: inherit;
    color: inherit;
}

.menu_item:hover{
    transition: 0.5s ease-out;
    color: #EFFFFB;
    box-shadow: 0.5em 0.5em #EFFFFB;
    background-color: #4F98CA;
}

.mainpage {
    display: grid;
    overflow: auto;
    scroll-snap-type: y mandatory;
    scroll-padding-top: 6rem;
    height: 100vh;
    padding-top: 6rem;
}

.logo img {
    width: 4rem;
    margin-left: 1rem;
    padding: 0;
}

.lang_icon {
    display: inline-flex;
    margin: auto 3rem;
}

.scroll {
    scroll-snap-align: start;
    overflow: auto;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    scroll-padding-block-start: 6rem;
}

.intro{
    width: 100%;
    height: 85vh;
    background-color: #272727;
    background-image: url("/Grafika/HUB_1_w1200px.png");
    background-repeat: no-repeat;
    background-position: 90% 0;
    margin-top: 6rem;
    
    /* margin-bottom: 3rem; */
}

.intro p {
    color: white;
    margin-left: 5px;
}

.desc{
    height: calc(100vh - 6rem);
    background-color: #EFFFFB;
    color: #272727;
}

.desc h1{
    font-family: 'Orbitron', sans-serif;
    font-size: 5rem;
    font-weight: 600;
    margin-top: 6rem;
}

.contact{
    height: 15vh;
    background-image: url("/Grafika/HUB_1_w800px.png");
    background-repeat: no-repeat;
    background-size: 9vh;
    background-position: center;
}

.backpage{
    height: 5vh;
    font-size: 14px;
    align-content: center;
    justify-content: center;
}

.footer{
    background-color: #272727;
    color: #EFFFFB;
    height: 20vh;
    scroll-snap-align: end;
}

@keyframes typing_motto {
    from { width: 0 }
    to { width: 12em}
}

#motto {
    color: white;
    font-size: 24px;
    font-weight: 500;
    margin-top: -1.5rem;
    margin-left: 5px;
    overflow: hidden;
    white-space: nowrap;
    width: 0;
    animation: typing_motto 1.2s steps(24, end) forwards;
    animation-delay: 0.6s;
}

#brief_overview {
    margin-top: 3em;
    font-size: 18px;
    width: 62.5%;
}

#intro_button{
    font-size: 20px;
    width: 10em;
    height: 3em;
    margin-top: 2rem;
    border-style: none;
    border-radius: 1em;
    cursor: pointer;
    color: #272727;
    background-color: #EFFFFB;
}

#intro_button:hover{
    transition: 0.5s ease-out;
    box-shadow: 0.75rem 0.75rem #50D890;
    background-color: #EFFFFB;
    opacity: 0.8;
}

#intro_button:after{
    transition: 0.5s ease-out;
}

@keyframes typing_hub {
    from { width: 0 }
    to { width: 2em }
}
  

#hub_big {
    margin-top: 100px;
    font-family: 'Orbitron', sans-serif;
    font-size: 10rem;
    color: white;
    overflow: hidden;
    width: 0;
    animation: typing_hub 0.2s steps(3, end) forwards;
}