.topics.project_title{
    font-weight: 500;
    padding: 3rem;
    color: white;
    text-decoration: none;
}

.background_overflow {
    background-color: #272727;
    background-image: url("./Grafika/Hub_image_5.jpg");
    background-position: 0 50%;
}

.Arduino{
    background-image: url("./Grafika/thumbnail_image_2.png");
    background-position: center bottom;
    background-repeat: no-repeat;
    text-decoration: none;
}

.DDD_printer{
    background-image: url("./Grafika/Hub_image_2.jpg");
    background-position: center bottom;
    background-repeat: no-repeat;
}