body{
    background-image: url("./Grafika/HUB_2_w1000px_gr.png");
    background-repeat: no-repeat;
    background-position: 90% 8rem;
}

.inspiration{
    margin-top: 3rem;
}

.inspiration h2{
    font-weight: 600;
    font-size: 2.25rem;
}

.inspiration h3{
    font-weight: 600;
    font-size: 1.5rem;
}

.other{
    margin-bottom: 3rem;
}

.main_content h1{
    font-weight: 600;
    font-size: 2.5rem;
}

.insp_section{
    margin-top: 2rem;
}

.insp_link{
    margin-top: 1.5rem;
}

.insp_link h3, a{
    text-decoration-line: underline;
    text-decoration-thickness: 2px;
    text-decoration-color: #50D890;
    color: #272727;
}

.insp_link img{
    height: 80px;
    object-fit: contain;
    vertical-align: top;
}

.insp_link_content{
    display: grid;
    grid-auto-flow: column;
    justify-content: left;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.insp_link_content p{
    margin-left: 2rem;
}

article p{
    font-weight: 300;
    font-size: 16px;
}

#topic{
    font-weight: 600;
    font-size: 3.5rem;
}