.blocks{
    display: grid;
    gap: 60px 60px;
    margin-bottom: 6rem;
    padding: 0 auto;
    grid-auto-rows: max-content;
    justify-content: space-between;
}

.project_block:hover{
    background: linear-gradient(0deg, rgba(80 216 144 / 100%), rgba(39 39 39 / 61%)), url(./Grafika/thumbnail_image_2.png);
}

.project_block{
    transition: all 0.5s ease-in-out;
    max-height: 480px;
    min-width: 480px;
    max-width: 1200px;
    background: linear-gradient(0deg, rgba(39 39 39 / 100%), rgba(39 39 39 / 61%)), url(./Grafika/thumbnail_image_2.png);
    background-size: cover;
}

.container h2, .container p, .container hr, .container a{
    font-weight: 500;
    color: white;
    text-decoration: none;
}

body{
    background-image: url("./Grafika/HUB_2_w1000px_gr.png");
    background-repeat: no-repeat;
    background-position: 90% 8rem;
    background-attachment: fixed;
}