.blocks{
    display: grid;
    margin-bottom: 6rem;
    padding: 0 auto;
    grid-template-columns: calc(600px - 3rem);
    grid-template-rows: 300px 300px;
    justify-content: space-between;
}

.project_block{
    width: calc(600px - 3rem);
    max-height: 480px;
    min-width: 480px;
    max-width: 600px;
    background-color: #50D890;
    border-radius: 3rem;
    padding: 0;
}

.container h2, .container p, .container hr, .container a{
    font-weight: 500;
    color: white;
    text-decoration: none;
}

body{
    background-image: url("./Grafika/HUB_2_w1000px_gr.png");
    background-repeat: no-repeat;
    background-position: 90% 8rem;
}