@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}

.preload * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
}

html {
    font-size: 14px;
}

.content {
    width: 1200px;
    margin: 0 auto;
    align-self: center;
    display: grid;
}

.content p {
    font-size: 18px;
}

.navbar {
    display: flex;
    position: fixed;
    align-items: center;
    align-content: center;
    /* justify-content: space-between; */
    height: 6rem;
    width: 100%;
    color: white;
    background-color: #272727;
    z-index: 2;
    transition: all 0.3s ease
}

.logo {
    display: inline-flex;
    grid-auto-flow: row;
    align-items: center;
    text-decoration: none;
}

.logo h1 {
    font-family: 'Orbitron', sans-serif;
    font-size: 3rem;
    font-weight: 600;
    margin-left: 1rem;
    color: white;
}

.logo img {
    width: 4rem;
    margin-left: 1rem;
    padding: 0;
}

.menu_items {
    display: inline-flex;
    list-style: none;
    justify-content: space-between;
    max-width: 62.5%;
    margin-left: auto;
    margin-right: auto;
}

.menu_item {
    display: block;
    font-size: 18px;
    margin: 0 2em;
    padding: 1rem 1rem;
    /* 
    background-color: #50D890; */
}

.menu_item a {
    display: inline-block;
    position: relative;
    text-decoration: none;
    padding: inherit;
    color: inherit;
}

.menu_item a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.2em;
    background-color: #50D890;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 300ms;
}

.menu_item a:hover::before,
.menu_item a:focus::before {
    transform: scaleX(1);
    transform-origin: left;
}

.mainpage {
    display: grid;
    height: 100vh;
    padding-top: 6rem;
    z-index: 1;
}

.lang_icon {
    display: inline-flex;
    margin: auto 6rem;
}

/*the navbar image background should be activated when on top only*/

.navbar,
.footer {
    background-color: #272727;
    background-image: url("./Grafika/arduino_background.png");
    background-blend-mode: luminosity;
    background-repeat: no-repeat;
    background-size: auto;
    background-attachment: fixed;
    background-position: 0 0;
}

.intro {
    width: 100%;
    height: 83vh;
    display: grid;
    background-color: #272727;
    background-image: url("./Grafika/HUB_3_w1000px.png"), url("./Grafika/arduino_background.png");
    background-blend-mode: normal, luminosity;
    background-repeat: no-repeat, no-repeat;
    background-size: auto, auto;
    background-attachment: scroll, fixed;
    background-position: 90% 0, 0 0;
    align-items: calc(center + 120px);
}

.intro p {
    color: white;
    margin-left: 5px;
}

.cal {
    height: calc(100vh - 6rem);
    background-color: white;
    background-image: url("./Grafika/HUB_2_w1000px_gr.png");
    background-repeat: no-repeat;
    background-position: 90% -83vh;
    color: #272727;
}

.cal h1 {
    font-size: 5rem;
    font-weight: 600;
    margin-top: 6rem;
}

.cal iframe {
    margin: 2rem 0;
}

.contact {
    display: grid;
    grid-auto-flow: column;
    align-items: top;
    padding: 2rem 0;
}

.contact img {
    width: 5rem;
    margin-left: -25px;
    margin-top: 15px;
}

.contact h1 {
    font-family: 'Orbitron', sans-serif;
    font-size: 5rem;
    font-weight: 600;
}

.contact p {
    font-size: 14px;
}

.logo_space {
    width: fit-content;
}

.logo_space p {
    margin-left: 3px;
    margin-top: -0.75rem;
    font-size: 12px;
    padding-bottom: 1rem;
}

.backpage {
    font-size: 12px;
    padding: 1rem 0;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.footer {
    background-color: #272727;
    color: white;
    scroll-snap-align: end;
    bottom: 0;
}

.footerbox a {
    display: inline-block;
    text-decoration: none;
    color: white;
}

.footer hr {
    color: #50D890;
    background-color: #50D890;
    height: 4px;
}

@keyframes typing_motto {
    from {
        width: 0
    }

    to {
        width: 12em
    }
}

.background_overflow {
    background-color: #272727;
    background-image: url("./Grafika/arduino_background.png");
    background-blend-mode: luminosity;
    background-repeat: no-repeat;
    background-size: auto;
    background-attachment: fixed;
    background-position: 0 0;
    padding-bottom: 4rem;
    color: white;
}

.stripe {
    height: 0.3rem;
    background-color: #50D890;
}

.container {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    margin-top: 6rem;
    margin-bottom: 6rem;
    padding: 0;
    gap: 5rem;
}

.container h2 {
    font-size: 3.5rem;
}

.container p {
    font-size: 16px;
}

.container h2,
.container p,
.container hr,
.container a {
    font-weight: 500;
    padding: 3rem;
    color: white;
    text-decoration: none;
}

.container a {
    padding: 0;
}

.container hr {
    height: 4px;
    padding: 0;
    margin-left: 3rem;
    margin-right: 3rem;
    color: transparent;
    background-color: white;
}

#motto {
    color: white;
    font-size: 24px;
    font-weight: 500;
    margin-top: -1.5rem;
    margin-left: 5px;
    overflow: hidden;
    white-space: nowrap;
    width: 0;
    animation: typing_motto 1.2s steps(24, end) forwards;
    animation-delay: 0.6s;
}

#brief_overview {
    margin-top: 3em;
    font-size: 18px;
    width: 62.5%;
    text-shadow: 2px 2px 5px #272727;
}

#intro_button {
    margin-top: 2rem;
    padding: 1rem;
    width: fit-content;
    border-style: none;
    border-radius: 2rem;
    cursor: pointer;
    background-color: white;
    transition: 0.5s ease-out;
    margin-bottom: 6rem;
}

#intro_button a {
    font-size: 20px;
    text-decoration: none;
    color: #272727;
}

#intro_button:hover {
    transition: 0.5s ease-out;
    box-shadow: 0.75rem 0.75rem #50D890;
    background-color: white;
    opacity: 0.8;
}

@keyframes typing_hub {
    from {
        width: 0
    }

    to {
        width: 2em
    }
}


#hub_big {
    font-family: 'Orbitron', sans-serif;
    font-size: 10rem;
    color: white;
    overflow: hidden;
    width: 0;
    animation: typing_hub 0.2s steps(3, end) forwards;
}

#calendar_bottom {
    text-align: center;
    font-size: 40px;
    font-weight: 400;
    margin-top: 13vh;
}

#topic {
    font-size: 4rem;
    font-weight: 600;
    margin-top: 6rem;
}