@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}

html {
    font-size: 14px;
}

.content {
    width: 62.5%;
    margin: 0 auto;
    align-self: center;
    align-items: center;
    display: grid;
}

.content p{
    font-size: 18px;
}

.navbar {
    display: flex;
    position: fixed;
    align-items: center;
    align-self: center;
    justify-content: space-between;
    height: 6rem;
    width: 100%;
    color: white;
    background-color: #272727;
    z-index: 2;
}

.menu_items {
    display: inline-flex;
    list-style: none;
    justify-content: space-between;
    max-width: 62.5%;
}

.menu_item {
    display: block;
    font-size: 20px;
    margin: 0 2em;
    padding: 1rem 1rem;/* 
    background-color: #50D890; */
}

.menu_item a {
    display: inline-block;
    position: relative;
    text-decoration: none;
    padding: inherit;
    color: inherit;
}

.menu_item a::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.2em;
    background-color: #50D890;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 300ms;
}

.menu_item a:hover::before,
.menu_item a:focus::before {
  transform: scaleX(1);
  transform-origin: left;
}

.mainpage {
    display: grid;
    overflow: auto;
    scroll-snap-type: y mandatory;
    scroll-padding-top: 6rem;
    height: 100vh;
    padding-top: 6rem;
    z-index: 1;
}

.logo img {
    width: 4rem;
    margin-left: 1rem;
    padding: 0;
}

.lang_icon {
    display: inline-flex;
    margin: auto 3rem;
}

.scroll {
    scroll-snap-align: start;
    scroll-snap-type: y mandatory;
    scroll-padding-block-start: 6rem;
}

.intro{
    width: 100%;
    height: 85vh;
    background-color: #272727;
    background-image: url("/Grafika/HUB_1_w1200px.png");
    background-repeat: no-repeat;
    background-position: 90% 0;
    margin-top: 6rem;
    
    /* margin-bottom: 3rem; */
}

.intro p {
    color: white;
    margin-left: 5px;
}

.desc{
    height: calc(100vh - 6rem);
    background-color: #EFFFFB;
    color: #272727;
}

.desc h1{
    font-family: 'Orbitron', sans-serif;
    font-size: 5rem;
    font-weight: 600;
    margin-top: 6rem;
}

.contact{
    display: grid;
    grid-auto-flow: column;
    align-items: center;
}

.contact img{
    width: 5rem;
    margin-left: -75px;
}

.contact h1{
    font-family: 'Orbitron', sans-serif;
    font-size: 5rem;
    font-weight: 600;
}

.contact p{
    font-size: 14px;
}

.logo_space{
    width: fit-content;
}

.logo_space p{
    margin-left: 3px;
    margin-top: -0.75rem;
    font-size: 12px;
    padding-bottom: 1rem;
}

.backpage{
    font-size: 12px;
    padding: 1vh 0;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.footer{
    background-color: #272727;
    color: #EFFFFB;
    scroll-snap-align: end;
}

.footer hr{
    color: #50D890;
    background-color: #50D890;
    height: 4px;
}

@keyframes typing_motto {
    from { width: 0 }
    to { width: 12em}
}

#motto {
    color: white;
    font-size: 24px;
    font-weight: 500;
    margin-top: -1.5rem;
    margin-left: 5px;
    overflow: hidden;
    white-space: nowrap;
    width: 0;
    animation: typing_motto 1.2s steps(24, end) forwards;
    animation-delay: 0.6s;
}

#brief_overview {
    margin-top: 3em;
    font-size: 18px;
    width: 62.5%;
}

#intro_button{
    font-size: 20px;
    width: 10em;
    height: 3em;
    margin-top: 2rem;
    border-style: none;
    border-radius: 1em;
    cursor: pointer;
    color: #272727;
    background-color: #EFFFFB;
}

#intro_button:hover{
    transition: 0.5s ease-out;
    box-shadow: 0.75rem 0.75rem #50D890;
    background-color: #EFFFFB;
    opacity: 0.8;
}

#intro_button:after{
    transition: 0.5s ease-out;
}

@keyframes typing_hub {
    from { width: 0 }
    to { width: 2em }
}
  

#hub_big {
    margin-top: 100px;
    font-family: 'Orbitron', sans-serif;
    font-size: 10rem;
    color: white;
    overflow: hidden;
    width: 0;
    animation: typing_hub 0.2s steps(3, end) forwards;
}

#calendar_bottom{
    text-align: center;
    font-size: 36px;
    font-weight: 500;
    margin-top: 13vh;
}